<header>
            <div class="ybx-header">
                <nav class="navbar navbar-default navbar-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#ybx-nav">
                                <span class="sr-only">Navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="index.html" class="navbar-brand">
                                <img class="img-responsive" src="images/icons/logo.png"/>
                                <div>YegoBox</div>
                            </a>
                        </div>
                        <div id="ybx-nav" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Pricing </a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right text-dark">
                                <li><a routerLink="/authorization">Login </a></li>
                                <li><a href="#">Sign Up</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <section id="hm-wrp">
            <div class="ybx-hm-wrp">
                <div class="ybx-hm-wrp-dwn" id="wrp-dwn"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-sm-push-6">
                            <img src="images/content/ybx-illustration.png" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-6 col-sm-6 col-sm-pull-6">
                            <div class="ybx-box">
                                    <ul class="nav navbar-nav navbar-right text-dark">
                                          
                                            <li>
                                                    <a routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
                                            </li>
                                            <li>
                                                    <a routerLink="/sign-in" routerLinkActive="active">Sign In</a>
                                            </li>
                                        </ul>
                                <h1 class="ybx-title">It matters to Organize your Work</h1>
                                <p>YegoBox's file storage help you store your files, 
                                    host your e-commerce on the cloud in no time</p>
                                <div class="clearfix"></div>
                                <a routerLink="/sign-up" routerLinkActive="active" class="btn btn-gt-strt btn-dm"> GET STARTED FREE</a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>

        <section id="hm-ftrs">
            <div class="ybx-ftrs">
                <div class="container">
                    <div class="inner-box">
                        <div class="row">
                            <div class="col-xs-6 col-sm-4">
                               <div class="ft-box">
                                   <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-4">
                                            <div class="ft-box-icon">
                                                <img src="images/icons/ft-1.svg" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-8">
                                            <div class="ft-box-content">
                                                <h3>Simplicity and Choice</h3>
                                                <ul>
                                                    <li>5 Cloud Providers</li>
                                                    <li>All PHP Apps Supported</li>
                                                    <li>Unlimited Applications</li>
                                                    <li>Innovative Control Panel</li>
                                                </ul>
                                            </div>
                                        </div>
                                   </div>
                                </div>
                            </div>
                            
                            <div class="col-xs-6 col-sm-4">
                                <div class="ft-box">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-4">
                                            <div class="ft-box-icon">
                                                <img src="images/icons/ft-2.svg" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-8">
                                            <div class="ft-box-content">
                                                <h3>Worry Free Experience</h3>
                                                <ul>
                                                    <li>24/7 Expert Support</li>
                                                    <li>Managed Backups</li>
                                                    <li>Managed Security</li>
                                                    <li>YegoboxBot</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-4">
                                <div class="ft-box">
                                    <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-4">
                                                <div class="ft-box-icon">
                                                    <img src="images/icons/ft-3.svg" />
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-8">
                                                <div class="ft-box-content">
                                                    <h3>Performance That Scales</h3>
                                                    <ul>
                                                        <li>Optimized Stack</li>
                                                        <li>Advanced Caching</li>
                                                        <li>PHP 7 Ready Servers</li>
                                                        <li>CloudwaysCDN</li>
                                                    </ul>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="hm-choose">
            <div class="ybx-choose">
                <div class="clearfix"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="ybx-title">
                                <h1>Less Worries. More Freedom. Better Business.</h1>
                                <p>Thousands of online businesses trust Our Managed Cloud Hosting Platform to power their success.</p>
                                <a href="#hm-plns" data-bind="scrollTo" data-target="#hm-plns">SEE WHY!</a>
                            </div>
                            <div class="hm-choose-sprt"></div>
                          </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="hm-pltfm">
            <div class="ybx-pltfm">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="ybx-title">
                                <h1>Focus on your work Deploy to web anytime.</h1>
                                <p>YegoBox give developer flexibility to host their files, as well enjoying all simplicity from file storage.</p>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <ul class="pltfm-grp">
                                <li>
                                    <div class="pltfm-icon">
                                        <img src="images/icons/pltfm-1.svg" class="img-responsive" />
                                    </div>
                                    <div class="pltfm-content">
                                        <h3>Go Live in a Munite</h3>
                                        <p>Our cloud hosting platform takes away the complexities of setting up your website and allows you to go live in minutes.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="pltfm-icon">
                                        <img src="images/icons/pltfm-2.svg" class="img-responsive" />
                                    </div>
                                    <div class="pltfm-content">
                                        <h3>Manage like A Pro</h3>
                                        <p>We help agencies and businesses to build and manage web apps more collaboratively and efficiently.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="pltfm-icon">
                                        <img src="images/icons/pltfm-3.svg" class="img-responsive" />
                                    </div>
                                    <div class="pltfm-content">
                                        <h3>Scale to Success</h3>
                                        <p>We are committed to deliver fast performance, ironclad security, and seamless scalability for your websites.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="pltfm-img">
                                <img src="images/content/ybx-pltfm.png" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="hm-stripes">
            <div class="ybx-stripes">
                <div class="ybx-title">
                    <h1>Let Us Help You Grow</h1>
                    <p>Ready to launch your business to the stratosphere (and beyond)!</p>
                </div>
                <div class="ybx-stripe" id="strp-1"></div>
                <div class="ybx-stripe" id="strp-2"></div>
                <div class="ybx-stripe" id="strp-3"></div>
                <div class="ybx-stripe" id="strp-4"></div>
                <div class="ybx-stripe" id="strp-5"></div>
                <div class="ybx-stripe" id="strp-6"></div>
                <div class="ybx-stripe" id="strp-7"></div>
                <div class="ybx-stripe" id="strp-8"></div>
                <div class="ybx-stripe" id="strp-9"></div>
                <div class="ybx-stripe" id="strp-10"></div>
                <div class="ybx-stripe" id="strp-11"></div>
                <div class="ybx-stripe" id="strp-12"></div>
                <div>
                    <a href="#" class="btn btn-gt-strt btn-md text-uppercase"> GET STARTED FOR FREE</a>
                    <a href="#" class="btn btn-see-pln btn-md text-uppercase"> SEE ALL PLANS</a>
                </div>
            </div>
        </section>
        
        <section id="hm-ftrs">
            <div class="ybx-ftrs">
                <div class="container">
                    <div class="ftrs-box">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="inner-ftr-box text-center">
                                    <div class="ft-box-icon">
                                        <img src="images/icons/ftr-1.svg" />
                                    </div>
                                    <div class="ft-box-content">
                                        <h3>24/7 Expert Support</h3>
                                        <p>Have complete peace of mind! Our Ever Ready Support Team is always active, 
                                            no matter what day of the year.</p>
                                    </div>
                                  </div>
                            </div>
                            
                            <div class="col-xs-12 col-sm-4">
                                <div class="inner-ftr-box text-center">
                                    <div class="ft-box-icon">
                                        <img src="images/icons/ftr-2.svg" />
                                    </div>
                                    <div class="ft-box-content">
                                        <h3>Knowledge Base</h3>
                                        <p>A comprehensive information hub that helps you with anything related to the platform and services.</p>
                                    </div>
                                  </div>
                            </div>

                            <div class="col-xs-12 col-sm-4">
                                <div class="inner-ftr-box text-center">
                                    <div class="ft-box-icon">
                                        <img src="images/icons/ftr-3.svg" />
                                    </div>
                                    <div class="ft-box-content">
                                        <h3>CloudwaysBot</h3>
                                        <p>Your very own smart assistant that keeps you updated with the health insights of your web app and cloud server.</p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="hm_cms">
            <div class="ybx-cms">
                <div class="container">
                    <div class="ybx-tabs cms-tabs">
                        <ul class="nav nav-pills">
                            <li class="active" ><a href="#wordpress" data-toggle="tab">WordPress</a></li>
                            <li><a href="#magento" data-toggle="tab">Magento</a></li>
                            <li><a href="#laravel" data-toggle="tab">Laravel</a></li>
                            <li><a href="#php" data-toggle="tab">PHP</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ybx-tabs tab-content">
                        <div id="wordpress" class="tab-pane fade active in">
                            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                               <img src="images/content/wordpress.png" class="img-responsive"/>
                            </div>
                            
                            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                                <div class="cms-box">
                                    <h3>Best Cloud Hosting for WordPress That Guarantees Success</h3>
                                    <p>We live and breathe WordPress. Our managed WordPress and WooCommerce hosting takes away cloud server related hassles so you can scale your website the way you want.
                                    Our Cutting-Edge Managed Cloud Web Hosting features include advanced caches coupled with Breeze, a simplified Cloudways cache and CloudwaysCDN for fast performance.
                                    They all come together to provide a seamless web hosting experience.</p>
                                    <div class="clearfix"></div>
                                    <a class="btn btn-rdmore btn-md text-uppercase"> Read more <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <div id="magento" class="tab-pane fade">
                            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                                <img src="images/content/magento.png" class="img-responsive"/>
                            </div>
                            
                            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                                <div class="cms-box">
                                    <h3>Fastest Magento Ecommerce Hosting</h3>
                                    <p>Managed Cloud Hosting for Magento web apps that comes with built-in caching technologies including Cloudways Full Page Cache along with CloudwaysCDN for fastest speed.
                                    Our Magento-Focused Managed Web Hosting features simplify the overall experience and ensure optimal performance so you can focus on growing your business.</p>
                                    <div class="clearfix"></div>
                                    <a class="btn btn-rdmore btn-md text-uppercase"> Read more <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <div id="laravel" class="tab-pane fade">
                            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                                <img src="images/content/laravel.png" class="img-responsive"/>
                            </div>
                            
                            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                                <div class="cms-box">
                                    <h3>Feature-Rich Web Hosting for Laravel Websites</h3>
                                    <p>Our Laravel Managed Hosting is the perfect way of deploying and managing Laravel powered applications on top cloud hosting providers. 
                                        Our Managed Web Hosting Platform simplifies dev workflows so that developers can focus on business logic rather than hosting and cloud server hassles.</p>
                                    <div class="clearfix"></div>
                                    <a class="btn btn-rdmore btn-md text-uppercase"> Read more <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <div id="php" class="tab-pane fade">
                            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                                <img src="images/content/php.png"  class="img-responsive"/>
                            </div>
                            
                            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                                <div class="cms-box">
                                    <h3>Flexible Platform for Custom PHP Server Deployments</h3>
                                    <p>We understand that custom PHP applications can have a wide range of hosting requirements. 
                                        Hence, Our Managed Cloud PHP Platform is designed to provide maximum flexibility, freedom, and convenience that ensures problem-free deployment and near-instant scalability.</p>
                                    <div class="clearfix"></div>
                                    <a class="btn btn-rdmore btn-md text-uppercase"> Read more <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="hm_prtns">
            <div class="ybx-prtns">
                <div class="clearfix"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="ybx-title text-center">
                                <h1>Our Partners</h1>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-xs-12">

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="hm-stripes">
            <div class="ybx-stripes ybx-edge">
                <div class="ybx-title">
                    <h1>Give Your Business the YegoBox Edge</h1>
                    <p>Limitless growth without any restrictions. No credit card, no contract!</p>
                </div>
                <div class="ybx-stripe" id="strp-1"></div>
                <div class="ybx-stripe" id="strp-2"></div>
                <div class="ybx-stripe" id="strp-3"></div>
                <div class="ybx-stripe" id="strp-4"></div>
                <div class="ybx-stripe" id="strp-5"></div>
                <div class="ybx-stripe" id="strp-6"></div>
                <div class="ybx-stripe" id="strp-7"></div>
                <div class="ybx-stripe" id="strp-8"></div>
                <div class="ybx-stripe" id="strp-9"></div>
                <div class="ybx-stripe" id="strp-10"></div>
                <div class="ybx-stripe" id="strp-11"></div>
                <div class="ybx-stripe" id="strp-12"></div>
                <div>
                    <a href="#" class="btn btn-gt-strt btn-md text-uppercase"> GET STARTED FREE</a>
                </div>
            </div>
        </section>
        <footer>
            <section id="ybx-footer">
               <div class="inner-footer footer-nav">
                   <div class="clearfix"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <a class="footer-nav-heading"  data-toggle="collapse" data-target="#nav-product" aria-expanded="false" aria-controls="">Product &amp; Solution</a>
                                <div id="nav-product" class="footer-nav-content collapse">
                                    <ul class="navfooter">
                                        <li><a href="#">WordPress Hosting</a></li>
                                        <li><a href="#">Magento Hosting</a></li>
                                        <li><a href="#">PHP Cloud Hosting</a></li>
                                        <li><a href="#">Laravel Hosting</a></li>
                                        <li><a href="#">NodeJS Hosting</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <a class="footer-nav-heading"  data-toggle="collapse" data-target="#nav-company" aria-expanded="false" aria-controls="">Company</a>
                                <div id="nav-company" class="footer-nav-content collapse">
                                    <ul class="navfooter">
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">Terms</a></li>
                                        <li><a href="#">Media Kit</a></li>
                                        <li><a href="#">Sitemap</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <a class="footer-nav-heading"  data-toggle="collapse" data-target="#nav-support" aria-expanded="false" aria-controls="">Support</a>
                                <div id="nav-support" class="footer-nav-content collapse">
                                    <ul class="navfooter">
                                        <li><a href="#">Contact us</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Community</a></li>
                                        <li><a href="#">Feedback</a></li>
                                        <li><a href="#">Free Website Migration</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <a class="footer-nav-heading"  data-toggle="collapse" data-target="#nav-quick" aria-expanded="false" aria-controls="">Quick Links</a>
                                <div id="nav-quick" class="footer-nav-content collapse">
                                    <ul class="navfooter">
                                        <li><a href="#">Features</a></li>
                                        <li><a href="#">Pricing</a></li>
                                        <li><a href="#">Partners</a></li>
                                        <li><a href="#">Affiliate Program</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
               </div>
               <div class="inner-footer footer-bar">
                   <div class="clearfix"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6">
                                left part
                            </div>
                            <div class="col-xs-6">
                                right part
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
               </div>
            </section>
        </footer>
    