
    <mat-card>
        <br />
        <span *ngIf="loading">loading ......</span>
        <mat-error *ngIf="error_errors.length > 0">
            <div *ngFor="let err of error_errors">
                <span>{{err.email}}</span> <br />
                <span>{{err.password}}</span>
                </div>
          </mat-error>
          <mat-error *ngIf="error_msg!=''">
              {{error_msg}}
            </mat-error>
     
        <form [formGroup]="form" (ngSubmit)="PasswordVerify()">
      
         
            <input hidden="hidden" matInput type="email" value="{{user.email}}" placeholder="Email" formControlName="email" />
      
          <mat-input-container>
      
            <input matInput type="password" placeholder="Password" formControlName="password" />
      
          </mat-input-container>
       
          <button mat-raised-button color="primary" *ngIf='!loading' type="submit">Next </button>
          <button mat-raised-button color="primary" *ngIf='loading' disable='true'>Next ... </button>
      
        </form>
      
      </mat-card>
  
  